* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: #E5E4E2;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    height: 45vw;
}

div {
    flex-basis: 12.5%;
    height: 12.5%;
}

p {
    font-size: 1vw;
}

.number {
    display: flex;
    align-items: flex-start;
}

span {
    display: flex;
    font-size: 5vw;
    justify-content: center;
    align-items: center;
}

.black {
    background-color: #353935;
    height: 6vw;
    width: 6vw;
}

.white {
    background-color: #F9F6EE;
    height: 6vw;
    width: 6vw;
}

.letter {
    font-size: 1vw;
    justify-content: center;
    display: flex;
}

