.square {
  border: 5px solid gray;
  text-align: center;
  width: 60vw;
  height: 60vw;
  margin: auto;
}

.white {
  background-color: #F9F6EE;
  height: 12.5%;
  width: 12.5%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
}

.black {
  background-color: #353935;
  height: 12.5%;
  width: 12.5%;
  max-height: 100vw;
  max-width: 100vw;
  float: left;
  padding: 0;
  margin: auto;
}
