* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: #E5E4E2;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    height: 45vw;
}

div {
    flex-basis: 12.5%;
    height: 12.5%;
}

span {
    display: flex;
    font-size: 120px;
    justify-content: center;
    align-items: center;
}

.black {
    display: flex;
    background-color: #353935;
}

.white {
    display: flex;
    background-color: #F9F6EE;
}

.letter {
    font-size: 38px;
    position: relative;
    top: 109px;
    right: 3px;
}

.number {
    font-size: 38px;
} 
