* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    background-color: #E5E4E2;
    justify-content: center;
    align-items: center;
}


.chess-board { 
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board th + th { border-bottom: 1px solid #353935; }

.chess-board th:first-child,

.chess-board td:last-child {
    border-right: 1px solid #353935;
}

.chess-board tr:first-child td {
  border-top: 1px solid;
}

.chess-board tr:last-child td { border-bottom: 1px solid; }

.chess-board th:empty { border: none; }

.chess-board td { 
    width: 11vmin;
    height: 11vmin;
    text-align: center;
    font-size: 11vmin;
    line-height: 0;
}

.light { background-color: #F9F6EE; }
.dark { background-color: #353935; }
